.style {
    border: 1px solid; 
    width: 200px; 
}
.styleResult {
    background-color:mediumvioletred;
}
.styleDiv {
    background-color:rgb(226, 43, 43);
    border: 1px solid;
    color: white;
}
.styleNumber {
    border: 1px solid;
}